/* Style the header with a grey background and some padding */

.hat {
  background-color: #CCFFFF;;
  padding: 1em;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #ccccff;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

body {font: 15px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}

h2 {
    font-family:Georgia, Times, "Times New Roman", serif;
}
*:focus {outline: none;}

.contact_form ul {
    width:780px;
    /*list-style-type:none; */
    /*list-style-position:outside; */
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.contact_form li:first-child {
    border-bottom:1px solid #777;
}


.contact_form h2 {
    margin:0;
    display: inline;
}

.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
    font-size: 30 px
}
.contact_form input[type=text] {
    height:20px;
    width:240px;
    padding:5px 8px;
}

.contact_form input[type=password] {
    height:20px;
    width:240px;
    padding:5px 8px;
}

.input[type=select] {
    height:20px;
    width:240px;
    padding:5px 8px;
}

.contact_form textarea {padding:8px; width:300px;}


.contact_form input:focus, .contact_form textarea:focus {
    padding-right:70px;
}


.contact_form input, .contact_form textarea {
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}


.submit {
    -webkit-appearance: none;
    padding:5px 15px;
    margin: 1em;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    background:#ccc;
}

.login-form {
    position: relative;
    padding: 1em;
    margin: 4em;
    border: 4px double black;
    border-radius: 5px;
    width: 17em;
    height: 14em;
}

.iomt {
    font-size:50px;
    color:#fff!important;
    text-shadow: 3px 3px 3px #000;
}

.kind-password {
    text-security:disc;
     -webkit-text-security:disc;
     font-family: 'dotsfont';
}